head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
form(action="/games/create-game", method="POST")
    label Name:
    br
    input(type="text", name="name", placeholder="Name")
    br
    label Name Page:
    br
    input(type="text", name="namePage", placeholder="Name Page")
    br
    label Image BackGournd:
    br
    input(type="text", name="imageBackGournd", placeholder="Image BackGournd")
    br
    label Image Backgournd Games:
    br
    input(type="text", name="imageBackgourndGames",placeholder="Image Backgournd Games")
    br
    label Image One:
    br
    input(type="text", name="imageOne",placeholder="Image One")
    br
    label Image Two:
    br
    input(type="text", name="imageTwo",placeholder="Image Two")
    br
    label Image Three:
    br
    input(type="text", name="imageThree",placeholder="Image Three")
    br
    label Date:
    br
    input(type="text", name="date",placeholder="Date Vd(01/01/0001)")
    br
    label Update:
    br
    input(type="text", name="update",placeholder="Update")
    br
    label Version:
    br
    input(type="text", name="version",placeholder="Version")
    br
    label Developer:
    br
    input(type="text", name="developer",placeholder="Developer")
    br
    label Publish:
    br
    input(type="text", name="publish",placeholder="Publish")
    br
    label Update Up:
    br
    input(type="text", name="updateUp",placeholder="Update Up")
    br
    label Number One:
    br
    input(type="text", name="numberOne",placeholder="Number One")
    br
    label Number Two:
    br
    input(type="text", name="numberTwo",placeholder="Number Two")
    br
    label Number Three:
    br
    input(type="text", name="numberThree",placeholder="Number Three")
    br
    label Number Four:
    br
    input(type="text", name="numberFour",placeholder="Number Four")
    br
    label Number Five:
    br
    input(type="text", name="numberFive",placeholder="Number Five")
    br
    label Minimum Os:
    br
    input(type="text", name="os",placeholder="Minimum Os")
    br
    label Minimum Processor:
    br
    input(type="text", name="processor",placeholder="Minimum Processor")
    br
    label Minimum Memory:
    br
    input(type="text", name="memory",placeholder="Minimum Memory")
    br
    label Minimum Graphics:
    br
    input(type="text", name="graphics",placeholder="Minimum Graphics")
    br
    label Minimum DirectX:
    br
    input(type="text", name="directX",placeholder="Minimum DirectX")
    br
    label Minimum Storage:
    br
    input(type="text", name="storage",placeholder="Minimum Storage")
    br
    label Recommended Os:
    br
    input(type="text", name="os1",placeholder="Minimum Os")
    br
    label Recommended Processor:
    br
    input(type="text", name="processor1",placeholder="Minimum Processor")
    br
    label Recommended Memory:
    br
    input(type="text", name="memory1",placeholder="Minimum Memory")
    br
    label Recommended Graphics:
    br
    input(type="text", name="graphics1",placeholder="Minimum Graphics")
    br
    label Recommended DirectX:
    br
    input(type="text", name="directX1",placeholder="Minimum DirectX")
    br
    label Recommended Storage:
    br
    input(type="text", name="storage1",placeholder="Minimum Storage")
    br
    label Category1:
    br
    input(type="text", name="category1",placeholder="Category1")
    br
    label Category2:
    br
    input(type="text", name="category2",placeholder="Category2")
    br
    label Category3:
    br
    input(type="text", name="category3",placeholder="Category3")
    br
    label View:
    br
    input(type="text", name="view",value=0)
    br
    label LinkGGD:
    br
    input(type="text", name="googleDrive",placeholder="Google Drive")
    br
    button Add